# Python
*.pyc
*.pyo
*.pyd
__pycache__/
venv/

# Machine Learning Models
*.joblib

# Data files
*.csv
*.json

# Environment files
.env
*.json
.env.local

# IDE specific
.vscode/
.idea/

# Local development
*.db
*.sqlite